{% if is_granted('ROLE_USER') %}
<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> Mon compte</a></li>
                        <li><a href="{{ path('show_orders') }}"><i class="fa fa-shopping-cart"></i> Mes commandes</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Déconnexion</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="header-right">
                    <ul class="list-unstyled list-inline">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('sonata_admin_dashboard') }}">Interface administrateur</a></li>
                        {% endif %}
                        {#<li class="dropdown dropdown-small">#}
                            {#<a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">currency :</span><span class="value">USD </span><b class="caret"></b></a>#}
                            {#<ul class="dropdown-menu">#}
                                {#<li><a href="#">USD</a></li>#}
                                {#<li><a href="#">INR</a></li>#}
                                {#<li><a href="#">GBP</a></li>#}
                            {#</ul>#}
                        {#</li>#}

                        {#<li class="dropdown dropdown-small">#}
                            {#<a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">language :</span><span class="value">English </span><b class="caret"></b></a>#}
                            {#<ul class="dropdown-menu">#}
                                {#<li><a href="#">English</a></li>#}
                                {#<li><a href="#">French</a></li>#}
                                {#<li><a href="#">German</a></li>#}
                            {#</ul>#}
                        {#</li>#}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End header area -->
{% endif %}

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <img style="height:150px; width:auto;" src="{{ asset('css/img/logo.png') }}">
                    <h1 style="display:inline;"><a href="{{ path('index') }}">Sellerie <span>Xanthos</span></a></h1>
                </div>
            </div>

            <div class="col-sm-6">
                {% if is_granted('ROLE_USER') %}
                <div class="shopping-item">
                    <a href="{{ path('show_cart') }}">Panier - <span class="cart-amunt">{{ amount }} €</span> <i class="fa fa-shopping-cart"></i>{% if productCount %} {% if productCount > 0 %} <span class="product-count">{{ productCount }}</span> {% endif %} {% endif %}</a>
                </div>
                {% else %}
                <div class="shopping-item" style="margin-left:20px; background-color:#1abc9c;">
                    <a href="{{ path('fos_user_registration_register') }}"><span class="cart-amunt" style="color:white;">S'enregister</span></a>
                </div>
                <div class="shopping-item">
                    <a href="{{ path('fos_user_security_login') }}"><span class="cart-amunt">Se connecter</span></a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('index') }}">Accueil</a></li>
                    {% for category in categorys %}
                        {% if category.isMainCategory() %}
                        <li><a href="{{ path('show_category', {'id' : category.id}) }}">{{ category }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->