{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            <form method="post" action="#">
                                <table cellspacing="0" class="shop_table cart">
                                    <thead>
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Produit</th>
                                        <th class="product-price">Prix</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in cart.products %}
                                        {% set color = cart.colors[loop.index - 1] %}
                                        {% set price = product.price + color.price + color.size.price %}
                                        <tr class="cart_item">
                                            <td class="product-remove">
                                                <a title="Remove this item" class="remove" href="{{ path('remove_from_cart', {'productId' : product.id}) }}">×</a>
                                            </td>

                                            <td class="product-thumbnail">
                                                <a href="{{ path('show_product', {'id' : product.id}) }}"><img width="145" height="145" class="shop_thumbnail" alt="" src="{{ asset('uploads/' ~ product.file) }}"></a>
                                            </td>

                                            <td class="product-name">
                                                <a href="{{ path('show_product', {'id' : product.id}) }}">{{ product.name }} {{ color.name }} {{ color.size.name }}</a>
                                            </td>

                                            <td class="product-price">
                                                <span class="amount">{{ price }} €</span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {#<tr>#}
                                        {#<td class="actions" colspan="6">#}
                                            {#<div class="coupon">#}
                                                {#<label for="coupon_code">Coupon:</label>#}
                                                {#<input type="text" placeholder="Coupon code" value="" id="coupon_code" class="input-text" name="coupon_code">#}
                                                {#<input type="submit" value="Apply Coupon" name="apply_coupon" class="button">#}
                                            {#</div>#}
                                            {#<input type="submit" value="Update Cart" name="update_cart" class="button">#}
                                            {#<input type="submit" value="Proceed to Checkout" name="proceed" class="checkout-button button alt wc-forward">#}
                                        {#</td>#}
                                    {#</tr>#}
                                    </tbody>
                                </table>
                            </form>

                            <div class="cart-collaterals">
                                <div class="cart_totals ">
                                    <h2>Total panier</h2>
                                    <table cellspacing="0">
                                        <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Panier sous-total</th>
                                            <td><span class="amount">{{ amount }} €</span></td>
                                        </tr>

                                        <tr class="shipping">
                                            <th>Frais de ports</th>
                                            <td>Frais de ports gratuits</td>
                                        </tr>

                                        <tr class="order-total">
                                            <th>Panier total</th>
                                            <td><strong><span class="amount">{{ amount }} €</span></strong> </td>
                                        </tr>

                                        <tr>
                                            <th></th>
                                            <td><a href="{{ path('validate_cart') }}">Commander</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
