{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            <form method="post" action="#">
                                <table cellspacing="0" class="shop_table cart">
                                    <thead>
                                    <tr>
                                        <th class="product-name">Numéro</th>
                                        <th class="product-price">Prix</th>
                                        <th class="product-price">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in orders %}
                                    <tr class="cart_item">
                                        <td class="product-name">
                                            <a href="{{ path('show_order', {'id' : order.id}) }}">#{{ order.id }}</a>
                                        </td>

                                        <td class="product-price">
                                            <span class="amount">{{ order.price }} €</span>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">
                                                {% if order.status == true %}
                                                    Payée
                                                {% else %}
                                                    Paiement bientôt disponible !
                                                    {#<a href="{{ path('pay_order', {'id' : order.id}) }}"> aPaiement en cours</a>#}
                                                {% endif %}
                                            </span>
                                        </td>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
