{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                            <a href="{{ path('index') }}">Accueil</a>
                            <a href="{{ path('show_category', {'id' : product.category.id}) }}">{{ product.category }}</a>
                            <a href="">{{ product.name }}</a>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        {% if product.file %}
                                            <img src="{{ asset('uploads/' ~ product.file) }}" alt="">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="product-inner">
                                    <h2 class="product-name">{{ product.name }}</h2>
                                    <div class="product-inner-price">
                                        <ins>{{ product.price }} €</ins>
                                    </div>
                                    {% if is_granted('ROLE_USER') %}
                                    <form action="{{ path('add_to_cart', {'productId' : product.id}) }}">
                                         <select name="picker" class="add_to_cart_button">
                                            {% for size in product.sizes %}
                                                {% for color in size.colors %}
                                                    {% set price = size.price + color.price %}
                                                <option value="{{ color.id }}">{{ size }} / {{ color }} + {{ price }}€</option>
                                                {% endfor %}
                                            {% endfor %}
                                         </select>
                                        <br/> <br/>
                                        <input value="Ajouter au panier" type="submit" id="addCart" class="add_to_cart_button" href="{{ path('add_to_cart', {'productId' : product.id}) }}">
                                    </form>
                                    {% else %}
                                        <a class="add_to_cart_button" href="{{ path('fos_user_security_login') }}">Se connecter</a>
                                    {% endif %}
                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                            {#<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Avis</a></li>#}
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Description du produit</h2>
                                                <p>{{ product.description }}</p>
                                            </div>
                                            {#<div role="tabpanel" class="tab-pane fade" id="profile">#}
                                                {#<h2>Avis</h2>#}
                                                {#<div class="submit-review">#}
                                                    {#<p><label for="name">Name</label> <input name="name" type="text"></p>#}
                                                    {#<p><label for="email">Email</label> <input name="email" type="email"></p>#}
                                                    {#<div class="rating-chooser">#}
                                                        {#<p>Your rating</p>#}

                                                        {#<div class="rating-wrap-post">#}
                                                            {#<i class="fa fa-star"></i>#}
                                                            {#<i class="fa fa-star"></i>#}
                                                            {#<i class="fa fa-star"></i>#}
                                                            {#<i class="fa fa-star"></i>#}
                                                            {#<i class="fa fa-star"></i>#}
                                                        {#</div>#}
                                                    {#</div>#}
                                                    {#<p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>#}
                                                    {#<p><input type="submit" value="Submit"></p>#}
                                                {#</div>#}
                                            {#</div>#}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        {#<div class="related-products-wrapper">#}
                            {#<h2 class="related-products-title">Related Products</h2>#}
                            {#<div class="related-products-carousel">#}
                                {#<div class="single-product">#}
                                    {#<div class="product-f-image">#}
                                        {#<img src="img/product-1.jpg" alt="">#}
                                        {#<div class="product-hover">#}
                                            {#<a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>#}
                                            {#<a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>#}
                                        {#</div>#}
                                    {#</div>#}

                                    {#<h2><a href="">Sony Smart TV - 2015</a></h2>#}

                                    {#<div class="product-carousel-price">#}
                                        {#<ins>$700.00</ins> <del>$800.00</del>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="single-product">#}
                                    {#<div class="product-f-image">#}
                                        {#<img src="img/product-2.jpg" alt="">#}
                                        {#<div class="product-hover">#}
                                            {#<a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>#}
                                            {#<a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>#}
                                        {#</div>#}
                                    {#</div>#}

                                    {#<h2><a href="">Apple new mac book 2015 March :P</a></h2>#}
                                    {#<div class="product-carousel-price">#}
                                        {#<ins>$899.00</ins> <del>$999.00</del>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="single-product">#}
                                    {#<div class="product-f-image">#}
                                        {#<img src="img/product-3.jpg" alt="">#}
                                        {#<div class="product-hover">#}
                                            {#<a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>#}
                                            {#<a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>#}
                                        {#</div>#}
                                    {#</div>#}

                                    {#<h2><a href="">Apple new i phone 6</a></h2>#}

                                    {#<div class="product-carousel-price">#}
                                        {#<ins>$400.00</ins> <del>$425.00</del>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="single-product">#}
                                    {#<div class="product-f-image">#}
                                        {#<img src="img/product-4.jpg" alt="">#}
                                        {#<div class="product-hover">#}
                                            {#<a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>#}
                                            {#<a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>#}
                                        {#</div>#}
                                    {#</div>#}

                                    {#<h2><a href="">Sony playstation microsoft</a></h2>#}

                                    {#<div class="product-carousel-price">#}
                                        {#<ins>$200.00</ins> <del>$225.00</del>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="single-product">#}
                                    {#<div class="product-f-image">#}
                                        {#<img src="img/product-5.jpg" alt="">#}
                                        {#<div class="product-hover">#}
                                            {#<a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>#}
                                            {#<a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>#}
                                        {#</div>#}
                                    {#</div>#}

                                    {#<h2><a href="">Sony Smart Air Condtion</a></h2>#}

                                    {#<div class="product-carousel-price">#}
                                        {#<ins>$1200.00</ins> <del>$1355.00</del>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="single-product">#}
                                    {#<div class="product-f-image">#}
                                        {#<img src="img/product-6.jpg" alt="">#}
                                        {#<div class="product-hover">#}
                                            {#<a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>#}
                                            {#<a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>#}
                                        {#</div>#}
                                    {#</div>#}

                                    {#<h2><a href="">Samsung gallaxy note 4</a></h2>#}

                                    {#<div class="product-carousel-price">#}
                                        {#<ins>$400.00</ins>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}